.navbar-size {
    width: 95%;
    margin: 0 auto;
}

.user-image-size {
    height: 56px;
    margin: 4px 0;
}

.main-body {
    background-color: #84caf2;
    color: white;
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}

.click-me-button {
    background-color: #ca6eee;
    margin-top: 50px;
}

.card-text {
    color: black;
}